[submodule "app/macros"]
	path = app/macros
	url = https://github.com/dingjingmaster/macros.git
[submodule "app/html-parser"]
	path = app/html-parser
	url = https://github.com/dingjingmaster/html-parser.git
